.App {
  text-align: center;
  width: 80%;
  margin: 48px auto;
}

label {
  display: block;
  font-size: 14px;
  margin: 4px auto;
  color: #3D3C4F;
}

input {
  font-size: 16px;
  width: 320px;
  padding: 6px 8px;
  border-radius: 1px;
  border: 1px solid #404573;
}

input:focus {
  outline: none;
}

.Characters {
  margin: 8px 0
}